<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/jquery"></script>
    <!-- <script src="https://unpkg.com/survey-jquery@1.9.28/survey.jquery.min.js"></script>
    <link href="https://unpkg.com/survey-core@1.9.28/defaultV2.min.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/inputmask@5.0.3/dist/inputmask.js"></script>
    <script src="https://unpkg.com/surveyjs-widgets@1.9.28/surveyjs-widgets.min.js"></script> -->
    
    <!-- jsPDF library -->
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <!-- SurveyJS Core library -->
    <script src="https://unpkg.com/survey-core@latest/survey.core.min.js"></script>
    <!-- SurveyPDF Exporter library -->
    <script src="https://unpkg.com/survey-pdf@latest/survey.pdf.min.js"></script>

    <script src="/static/js/surveys.js"></script>
</head>

<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <hr>
        <form action="/scan" method="POST" class="form">
            <table style="font-size:20px" cellspacing="10px">
                <tr style="display:none">
                    <td style="width:200px"> <label for="cid">Clinic Id </label></td>
                    <td><input type="text" id="cid" name="cid" style="width:300px" value="<%=cid %>" readonly required> </td>
                </tr>
                <tr>
                    <td style="width:200px"> <label for="cid">Clinic Name </label></td>
                    <td><input type="text" id="clinic_name" name="clinic_name" style="width:300px" value="<%=clinic_name %>" readonly required> </td>
                </tr>
                <tr>
                    <td style="width:200px"> <label for="pid">Patient Id </label></td>
                    <td> <input type="text" id="pid" name="pid" style="width:300px;margin-top:10px;margin-bottom:10px"
                            value="" placeholder="Internal EMR ID" required> </td>
                </tr>
                <tr>
                    <td style="width:200px"> <label for="cid">Patient's Email </label></td>
                    <td> <input type="text" id="pemail" name="pemail" style="width:300px;margin-top:10px;margin-bottom:10px"
                            value="" placeholder="" required> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="submit" class="btn btn-primary">Generate QR Code</button><a id="result_link" href="#"> <button type="button" onclick="getResultLink()"
                        class="btn btn-primary">Get Survey Results</button></a></td>
                </tr>
            </table>

        </form>


        <!-- <div ><%= result %></div> -->

        <div id="surveyElement" style="display:inline-block;width:100%;margin-top:30px"></div>
        <div id="surveyResult"></div>

        <div id="employeedivcontainer">

        </div>

    </div>


</body>

</html>